#navbarH1 {
    color: whitesmoke;
    margin-left: 35%;
}

.cityButton {
    margin: 10px 0 0 1%;
}

.fiveDayForecast {
    margin-left: 10px;
    padding: 5px;
}

.todaysForecast {
    border: 1px dashed;
    border-radius: 15px;
    padding: 5px;
}

#fiveDayH2 {
    margin-left: 10px;
}

#clearBtn {
    margin-left: 5px;
}

#uvIndex {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}